<table class="table table-sm table-hover">
  <tr *ngFor="let assetHistory of assetHistoryService.assetHistoryList">
    <td>{{assetHistory.assetName}}</td>
    <td>{{assetHistory.balance  | number:'1.2'}}</td>
    <td>{{assetHistory.effectiveDate  | date:'medium'}}</td>

    <td>
      <a class="btn" (click)="showForEdit(assetHistory)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(assetHistory.id)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>