<div class="container-fluid">

  <div class="row bg-light mb-3 pt-2 pb-2 border rounded">
    <div class="col">
      <span>Balances distribution</span>
    </div>
  </div>

  <div class="row bg-light m-3 border rounded">
    <div class="col-md-11">
      <div [chart]="chart"></div>
    </div>
  </div>

  <div class="row bg-light pt-2 pb-2 border rounded">
    <div class="col">
      <span>Balances changes</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngFor="let changesChart of balanceChangeCharts">
        <div class="row bg-light m-3 border rounded">
          <div class="col-md-11" [chart]="changesChart"></div>
        </div>
      </div>
    </div>
  </div>

</div>