<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <runtime>
    <bypassTrustedAppStrongNames enabled="false" />
  </runtime>
  <connectionStrings>
    <add name="PocketLocalDbConnection" providerName="System.Data.SqlClient" connectionString="" />
  </connectionStrings>
</configuration>