<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded margin-bottom-20">
    <div class="navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/assets" routerLinkActive="active">Assets <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/assets-history" routerLinkActive="active">Assets History</a>
        </li>
        </ul>
        <span class="navbar-text">
            <app-dashboard></app-dashboard>
        </span>
    </div>
</nav>

<router-outlet></router-outlet>