<h3 class="mt-2 text-right">{{balanceService.totalBalance | number:'1.2' }} UAH</h3>

<table class="table table-sm table-hover">
  <tr *ngFor="let balance of balanceService.balances">
    <td>{{balance.effectiveDate | date:'mediumDate'}}</td>
    <td>{{balance.asset.name}}</td>
    <td>{{balance.asset.type.name}}</td>
    <td>{{balance.value | currency:' '}}</td>
    <td>{{balance.asset.currency.name}}</td>
    <td>{{balance.exchangeRateValue}}</td>

    <td>
      <a class="btn" (click)="showForEdit(balance)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn text-danger" (click)="onDelete(balance.id)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>