<div class="row bg-light mb-3 pt-2 pb-2 border rounded">
  <div class="col-auto input-group" [hidden]="!(balances && balances.length > 0)">
    <div *ngFor="let total of totalBalance">
      <div class="input-group pl-3">
        <h4>{{total.value | number:'1.0-0' }} {{total.currency}}</h4>
      </div>
    </div>
  </div>
</div>

<div class="row" [hidden]="!effectiveDate">

  <div class="col-md-9 p-3 bg-light border rounded">
    <div class="p-2" [hidden]="!(balances && balances.length > 0)">
      <button type="button" [disabled]="isAddMode" class="btn btn-outline-info btn-sm" (click)="addBalance()">
        <span class="">Add record</span>
      </button>
    </div>
    <div *ngFor="let balance of balances">
      <form #balanceForm="ngForm" (ngSubmit)="onSubmit(balanceForm)">

        <input type="hidden" name="id" #Id="ngModel" [(ngModel)]="balance.id">
        <input type="hidden" name="exchangeRateId" #ExchangeRateId="ngModel" [(ngModel)]="balance.exchangeRateId">
        <input type="hidden" name="EffectiveDate" #EffectiveDate="ngModel" [(ngModel)]="balance.effectiveDate">

        <div class="form-row align-items-center p-2">
          <div class="col-md-4">
            <select name="AssetId" class="form-control" placeholder="Asset" required
              [disabled]="balance.id !== (selectedBalance && selectedBalance.id)" #AssetId="ngModel"
              [(ngModel)]="balance.assetId" [ngClass]="{'input-invalid': AssetId.invalid && AssetId.touched}"
              (change)="this.onAssetChanged($event.target.value)">
              <option value="" disabled selected>
                Select asset
              </option>
              <option *ngFor="let asset of assetList" value={{asset.id}}>
                {{asset.name}}
              </option>
            </select>
          </div>
          <div class="col-md-2">
            <input name="Value" class="form-control" placeholder="Balance" required
              [disabled]="balance.id !== (selectedBalance && selectedBalance.id)" #Value="ngModel"
              [(ngModel)]="balance.value" [ngClass]="{'input-invalid': Value.invalid && Value.touched }">
          </div>
          <div class="col-md-2">
            <input class="form-control" value="{{(balance.asset && balance.asset.currency) || '-'}}" [disabled]="true">
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-outline-info ml-1"
              [disabled]="isAddMode && (selectedBalance && selectedBalance.id) !== balance.id"
              (click)="showForEdit(balance)">
              <i class="fa fa-pencil-square-o"></i>
            </button>
            <button type="submit" class="btn btn-outline-info ml-1"
              [disabled]="!balanceForm.valid || (selectedBalance && selectedBalance.id) !== balance.id">
              <i class="fa fa-save"></i>
            </button>
            <button type="button" class="btn btn-outline-info ml-1"
              [disabled]="(selectedBalance && selectedBalance.id) !== balance.id" (click)="resetRecord(balance.id)">
              <i class="fa fa-repeat"></i>
            </button>
            <button type="button" class="btn text-danger btn-outline-info ml-1" (click)="onDelete(balance.id)">
              <i class="fa fa-trash-o"></i>
            </button>
            <button type="button" *ngIf="balance.isBankAccount" class="btn btn-outline-info ml-3"
              (click)="onBankAccountSync(balance.id)">
              <i class="fa fa-refresh"></i>
            </button>
          </div>
        </div>

      </form>
    </div>
    <app-balance-note [effectiveDate]="effectiveDate"></app-balance-note>
  </div>

  <div class="col-md-3">
    <div class="bg-light mb-3 p-2 border rounded">
      <app-exchange-rates [effectiveDate]="effectiveDate"></app-exchange-rates>
    </div>
  </div>
</div>