<div class="bg-light border rounded">
  <div class="toggle-panel" data-toggle="collapse" data-target="#rates" aria-expanded="true">
    <button class="toggle-button btn btn-light" (click)="togglePanel()">
      <i class="toggle-icon fa" [ngClass]="{'fa-plus-square-o': collapsed, 'fa-minus-square-o': !collapsed}"></i>
      <span class="header">Exchange rates</span>
    </button>
  </div>

  <div id="rates" class="collapse show">
    <div class="input-group">
      <span class="form-control form-control-header">{{exchangeRates && exchangeRates[0] && exchangeRates[0].provider}}</span>
      <span class="form-control form-control-header">Buy</span>
      <span class="form-control form-control-header">Sell</span>
    </div>
    <div *ngFor="let rate of exchangeRates">
      <div *ngIf="rate.baseCurrency !== rate.counterCurrency" class="input-group">
        <span class="form-control form-control-header currency-wrapper">{{rate.baseCurrency}}</span>
        <span class="form-control">{{rate.buy}}</span>
        <span class="form-control">{{rate.sell}}</span>
      </div>
    </div>
  </div>
</div>