<div class="container-fluid">
  <div class="d-flex flex-column">

    <div>
      <span class="page-header">Balances</span>
      <hr>
    </div>

    <div class="mb-3">
      <app-effective-date></app-effective-date>
    </div>

    <div class="bg-light border rounded" [hidden]="!selectedEffectiveDate">
      <div class="controls">
        <select class="control rounded" placeholder="Date" required [(ngModel)]="selectedEffectiveDate"
          (change)="this.onDateChange($event.target.value)">
          <option *ngFor="let effectiveDate of effectiveDatesList" value={{effectiveDate}}>
            {{effectiveDate | date:'mediumDate'}}
          </option>
        </select>
        <button type="button" class="control btn btn-info" (click)="addBalances()">
          Add balances
        </button>

        <div class="controls-group btn-group" role="group">
          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Export/Import
          </button>
          <div class="dropdown-menu" aria-labelledby="exportImportGroup">
            <button type="button" class="dropdown-item" (click)="exportToCsv()">Export CSV</button>
            <button type="button" class="dropdown-item" (click)="exportToJson()">Export JSON</button>
            <div class="upload-btn-wrapper">
              <label>
                <span class=" dropdown-item">Import JSON</span>
                <input type="file" class="custom-file-input" #file placeholder="Import JSON"
                  (change)="importJson(file.files)">
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="balances-wrapper">
      <app-balance-list id="balance-list-wrapper" class="flex-fill" [effectiveDate]="selectedEffectiveDate" (shouldReload)="reload()"></app-balance-list>
      <app-exchange-rates id="rates-wrapper" [effectiveDate]="selectedEffectiveDate"></app-exchange-rates>
    </div>

  </div>
</div>