.controls {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.control {
  margin-right: 10px;
}

.upload-btn-wrapper {
  width: 100%;
}

.upload-btn-wrapper label {
  width: 100%;
}

.upload-btn-wrapper input[type=file] {
  display:none;
}

.upload-btn-wrapper label {
  margin: 0;
  padding: 0;
}

#balances-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#balance-list-wrapper {
  margin-top: 1rem;
}

#rates-wrapper {
  min-width: 400px;
  max-width: 500px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 615px) { 
  .rates-wrapper {
    margin-left: 0;
  }
}