<div class="d-flex flex-column" style="height: 100%;">
  <nav class="sidebar" [ngClass]="{'collapsed-sidebar': collapsed}">
    <div class="sidebar-sticky">

      <div class="sidebar-toggler">
        <button (click)="toggleSidebar()">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <div *ngIf="status" [ngClass]="{'d-none': collapsed}">
        <hr>
        <img src="../../../assets/images/user-photo-placeholder.svg" class="rounded mx-auto d-block" alt="...">
        <hr>
      </div>

      <ul *ngIf="status" class="nav d-flex flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="nav-item-icon fa fa-dashboard"></i><span class="icon-text" [ngClass]="{'d-none': collapsed}">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/balances" routerLinkActive="active">
            <i class="nav-item-icon fa fa-money"></i><span class="icon-text" [ngClass]="{'d-none': collapsed}">Balances</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assets" routerLinkActive="active">
            <i class="nav-item-icon fa fa-credit-card"></i><span class="icon-text" [ngClass]="{'d-none': collapsed}">Assets</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/inventory" routerLinkActive="active">
            <i class="nav-item-icon fa fa-archive"></i><span class="icon-text" [ngClass]="{'d-none': collapsed}">Inventory</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" href="#">
            <i class="nav-item-icon fa fa-sign-out"></i><span class="icon-text" [ngClass]="{'d-none': collapsed}">Logout</span>
          </a>
        </li>
      </ul>

      <ul *ngIf="!status" class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register<span
              class="sr-only">(current)</span></a>
        </li>
      </ul>

      <div *ngIf="status" [ngClass]="{'d-none': collapsed}">
        <hr>
        <app-totals></app-totals>
        <hr>
      </div>

    </div>
  </nav>

</div>