hr {
  background-color: rgba(255,255,255,.5);
}

span {
  color: rgba(255,255,255,.5);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  width: 160px;
  height: 100%;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
}

.sidebar-sticky {
  position: fixed;
  position: -webkit-fixed;
  width: inherit;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

a.nav-link {
  padding: 0;
  margin: 0;
}

.sidebar .nav-link {
  color: rgba(255,255,255,.5);
}

.sidebar .nav-link.active {
  color: rgba(255,255,255,.75);
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  color: rgba(255,255,255,.75);
}

.sidebar .nav-item-icon {
  padding-left: 0.8rem;
}

.sidebar-toggler {
  background-color: #343a40;
  width: inherit;
  height: 40px;
  margin-bottom: 1rem;
}

.sidebar-toggler button {
  display: block;
  background-color: #515a63;
  width: inherit;
  height: inherit;
  border: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-toggler button:hover {
  background-color: #222425;
}

.sidebar-toggler button:focus {
  outline: none;
}

.collapsed-sidebar {
  width: 50px !important;
}

.icon-text {
  margin-left: 10px;
}