<div id="date" *ngIf="(effectiveDates && effectiveDates.length > 0)">
  <div id="result" class="input-group input-group">

    <button id="year-btn" class="form-control date-part-header"
        (click)="onYearClick()" 
        [disabled]="!(years && years.length > 0)">
      {{selectedYear || "Year"}}
    </button>

    <button id="month-btn" class="form-control date-part-header"
        (click)="onMonthClick()" 
        [ngClass]="{'date-part-required': selectedYear && selectedMonth === null }" 
        [disabled]="!selectedYear">
      {{monthNames[selectedMonth] || "Month"}}
    </button>

    <button id="day-btn" class="form-control date-part-header"
        (click)="onDayClick()" 
        [ngClass]="{'date-part-required': selectedYear && selectedMonth !== null && !selectedDay }"
        [disabled]="!selectedYear || selectedMonth === null">
      {{selectedDay || "Day"}}
    </button>

    <button id="today-btn" class="btn btn-info" (click)="setToday()">
      Today
    </button>

    <div class="date-part" [hidden]="!selectingYear || !(years && years.length > 0)">
      <div *ngFor="let year of years">
        <button class="btn btn-sm btn-outline-info item" (click)="selectYear(year)">{{year}}</button>
      </div>
    </div>
  
    <div class="date-part" [hidden]="!selectedYear || !selectingMonth || selectingDay">
      <div *ngFor="let month of months">
        <button class="btn  btn-sm btn-outline-info item" (click)="selectMonth(month)">{{monthNames[month]}}</button>
      </div>
    </div>
  
    <div class="date-part" [hidden]="!selectedYear || selectedMonth === null || !selectingDay">
      <div *ngFor="let day of days">
        <button class="btn btn-sm btn-outline-info item" (click)="selectDay(day)">{{day}}</button>
      </div>
    </div>

  </div>
</div>

<div *ngIf="!(effectiveDates && effectiveDates.length > 0)">
  <span>No data to display. Please add your balances using 'Add balances' button.</span>
</div>