<div id="date">
  <div id="result" class="input-group input-group-sm">
    <input type="text" class="form-control" [ngClass]="{'highlight': !selectedYear}" placeholder="Year" value="{{selectedYear}}" disabled>
    <input type="text" class="form-control" [ngClass]="{'highlight': selectedYear && !selectedMonth}" placeholder="Month" value="{{monthNames[selectedMonth]}}" disabled>
    <input type="text" class="form-control" [ngClass]="{'highlight': selectedYear && selectedMonth && !selectedDay}" placeholder="Day" value="{{selectedDay}}" disabled>
    <button id="clear-btn" class="btn btn-info btn-sm" (click)="clear()">Clear</button>
  </div>

  <div class="date-part" [hidden]="selectedYear || !(years && years.length > 0)">
    <div *ngFor="let year of years">
      <button class="btn btn-outline-info btn-sm item" (click)="selectYear(year)">{{year}}</button>
    </div>
  </div>

  <div class="date-part" [hidden]="!selectedYear || selectedMonth || !(months && months.length > 0)">
    <div *ngFor="let month of months">
      <button class="btn btn-outline-info btn-sm item" (click)="selectMonth(month)">{{monthNames[month]}}</button>
    </div>
  </div>

  <div class="date-part" [hidden]="!selectedYear || !selectedMonth || !(days && days.length > 0)">
    <div *ngFor="let day of days">
      <button class="btn btn-outline-info btn-sm item" (click)="selectDay(day)">{{day}}</button>
    </div>
  </div>
</div>