<div class="container-fluid">
  <div class="d-flex flex-column">

    <div>
      <span class="page-header">Assets</span>
      <hr>
    </div>

    <div id="list" class="p-3 bg-light border">
      <div class="pb-3">
        <button type="button" [disabled]="isAddMode" class="btn btn-outline-info btn-sm btn-add" (click)="addAsset()">
          Add record
        </button>
      </div>
      <div *ngFor="let asset of assetList">
        <form #assetForm="ngForm" (ngSubmit)="onSubmit(assetForm)">
          <input type="hidden" name="id" #Id="ngModel" [(ngModel)]="asset.id">

          <div class="form-row align-items-center pb-3">
            <div class="col-md-5">
              <input name="name" class="form-control" placeholder="Name" required
                [disabled]="!(selectedAsset && selectedAsset.id === asset.id)" #name="ngModel" [(ngModel)]="asset.name"
                [ngClass]="{'input-invalid': name.invalid && name.touched }">
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <input name="value" class="form-control" placeholder="Balance" required
                  [disabled]="!(selectedAsset && selectedAsset.id === asset.id)" #value="ngModel" [ngModel]="asset.value"
                  [ngClass]="{'input-invalid': value.invalid && value.touched }">
                <div class="input-group-append">
                  <select name="currency" class="form-control" placeholder="currency" required
                  [disabled]="!(selectedAsset && selectedAsset.id === asset.id)" #currency="ngModel" [(ngModel)]="asset.currency"
                  [ngClass]="{'input-invalid': currency.invalid && currency.touched}">
                  <option value="" disabled selected>
                    Select currency
                  </option>
                  <option *ngFor="let currency of currenciesList" value={{currency}}>
                    {{currency}}
                  </option>
                </select>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <select name="isActive" class="form-control" required [disabled]="!(selectedAsset && selectedAsset.id === asset.id)"
                #isActive="ngModel" [(ngModel)]="asset.isActive"
                [ngClass]="{'input-invalid': isActive.invalid && isActive.touched}">
                <option value="true" selected>
                  Active
                </option>
                <option value="false">
                  Inactive
                </option>
              </select>
            </div>
            <div class="col-md-2 controls">
              <div class="input-group">
                <button type="button" class="btn btn-outline-info ml-1" (click)="showForEdit(asset)"
                  [hidden]="isAddMode || (selectedAsset && selectedAsset.id === asset.id)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button type="submit" class="btn btn-outline-info ml-1" [hidden]="!(selectedAsset && selectedAsset.id === asset.id)">
                  <i class="fa fa-floppy-o"></i>
                </button>
                <button type="button" class="btn text-danger btn-outline-info ml-1" (click)="onDelete(asset.id)">
                  <i class="fa fa-trash-o"></i>
                </button>
                <div *ngIf="asset && asset.id != null" class="ml-1">
                  <a [routerLink]="['/asset-settings/', asset.id]">
                    <button type="button" class="btn btn-md btn-outline-info"><i class="fa fa-gear"></i></button>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>