<div id="login-page">
  <div class="d-flex flex-column mx-auto login-wrapper">

    <ul class="nav flex-row nav-wrapper">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
    </ul>

    <form class="login-form" #f="ngForm" novalidate (ngSubmit)="login(f)">
      <div class="form-group">
        <input id="email" type="text" required name="email" class="form-control" placeholder="Email"
          [ngModel]="credentials.email" #email="ngModel" tmFocus validateEmail>
        <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid
          email</small>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" required name="password" placeholder="Password"
          ngModel>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="f.invalid || isRequesting">Login</button>

      <div *ngIf="errors" class="alert alert-danger" role="alert">
        <div *ngFor="let error of errors">{{error.description}}</div>
      </div>
    </form>

  </div>
</div>