/* You can add global styles to this file, and also import other style files */

form.period-form{
    background-color: #dbdbdb;
    border-radius: 4px;
    padding: 10px;
}
div.validation-error{
    color: red;
    text-align: center;
}
button:hover,a.btn:hover{
    cursor: pointer;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-20 {
    margin: 20px;
}

input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="month"],
input[type="week"] {
    height:2.4rem;
}