<div class="row align-items-center bg-light mb-3 pt-2 pb-2 border rounded">
  <div class="col-auto">
    <a class="ml-1" [routerLink]="['/assets/']">
      <button type="button" class="btn btn-md btn-info">Back</button>
    </a>
  </div>
  <div *ngIf="asset" class="col-auto">
      <h4>{{asset.name}} asset bank sync settings</h4>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-5 p-3 bg-light border rounded">
    <form #bankForm="ngForm" (ngSubmit)="onBankFormSubmit(bankForm)">

      <div class="form-group row required">
        <label for="bankName" class="col-md-3 col-form-label control-label">Bank</label>
        <div class="col-md-6">
          <select id="bankName" [disabled]="isConnected" class="form-control" name="BankName" #BankName="ngModel" [(ngModel)]="selectedBank"
            placeholder="Bank" required>
            <option value="" disabled selected>Select bank</option>
            <option *ngFor="let bank of banksList" value={{bank}}>
              {{bank}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row required">
        <label for="token" class="col-md-3 col-form-label control-label">Client Token</label>
        <div class="col-md-6">
          <input name="Token" [disabled]="isConnected" class="form-control" #Token="ngModel" [(ngModel)]="token" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="token" class="col-md-3 col-form-label control-label">Bank Client Id</label>
        <div class="col-md-6">
          <input name="BankClientId" [disabled]="isConnected" class="form-control" #BankClientId="ngModel" [(ngModel)]="bankClientId">
        </div>
      </div>

      <div class="form-group row">
        <label for="token" class="col-md-3 col-form-label control-label">Account Id</label>
        <div class="col-md-6">
          <input name="BankAccountId" [disabled]="isConnected" class="form-control" #BankAccountId="ngModel" [(ngModel)]="bankAccountId">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2">
          <button type="submit" *ngIf="!isConnected" class="btn btn-outline-info" [disabled]="!bankForm.valid">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="row" *ngIf="authDataSubmitted">
  <div class="col-md-5 p-3 bg-light border rounded">
    <form #accountForm="ngForm" (ngSubmit)="onAccountFormSubmit(accountForm)">

      <div class="form-group row">
        <label for="account" class="col-md-3 col-form-label">Account</label>
        <div class="col-md-6">
          <select id="account" [disabled]="isConnected" class="form-control" name="Account" placeholder="Account" #Account="ngModel" [(ngModel)]="selectedAccount" required>
            <option value="" disabled selected>Select account</option>
            <option *ngFor="let account of bankAccountsList" [ngValue]="account">
              {{account.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-2">
          <button type="submit" *ngIf="!isConnected" class="btn btn-outline-info" [disabled]="!accountForm.valid">Connect</button>
          <button type="button" *ngIf="isConnected" class="btn btn-outline-info" (click)="disconnectAccount()">Disonnect</button>
        </div>
      </div>

    </form>
  </div>
</div>

<div *ngIf="isConnected">
  <app-account-statement></app-account-statement>
</div>