<form class="asset-form" #assetForm="ngForm" (ngSubmit)="onSubmit(assetForm)">
  <input type="hidden" name="id" #Id="ngModel" [(ngModel)]="assetService.selectedAsset.id">
  <div class="form-row">
    <div class="form-group col-md-3">
      <input class="form-control" name="Name" #Name="ngModel" [(ngModel)]="assetService.selectedAsset.name" placeholder="Name" required>
      <div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div>
    </div>
    <div class="form-group col-md-3">
      <select class="form-control" name="CurrencyId" #CurrencyId="ngModel" [(ngModel)]="assetService.selectedAsset.currencyId" placeholder="Currency" required>
        <option value="" disabled selected>Select currency</option>
        <option *ngFor="let currency of assetService.currenciesList" value={{currency.id}}>
            {{currency.name}}
        </option>
      </select>
      <div class="validation-error" *ngIf="CurrencyId.invalid && CurrencyId.touched">This Field is Required.</div>
    </div>
    <div class="form-group col-md-1">
      <label class="switch">
          <input type="checkbox" checked data-toggle="toggle" name="IsActive" #IsActive="ngModel" [(ngModel)]="assetService.selectedAsset.isActive">
          <span class="slider"></span>
        </label>
    </div>
    <div class="form-group col-md-2">
        <button [disabled]="!assetForm.valid" type="submit" class="btn btn-outline-info ml-1 float-right">
          <i class="fa fa-floppy-o"></i></button>
        <button type="button" class="btn btn-outline-secondary float-right" (click)="resetForm(assetForm)">
          <i class="fa fa-repeat"></i></button>
    </div>
  </div>
</form>