<div class="row">
  <div class="mb-3 pt-2 pb-2">
    <button type="submit" class="btn btn-outline-info" (click)="loadTransactions()">
      <i class="fa fa-list-alt" aria-hidden="true">View account statement</i>
    </button>
  </div>
</div>

<div class="row" *ngFor="let transaction of transactions">
  <div class="col-md-3">{{transaction.transactionDate | date:'mediumDate'}}</div>
  <div class="col-md-3">{{transaction.description}}</div>
  <div class="col-md-3">{{transaction.amount}}</div>
  <div class="col-md-3">{{transaction.currency}}</div>
</div>