.header-wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.header-title {
  padding-left: 1rem;
}

.settings-section {
  max-width: 600px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.settings-control {
  margin-bottom: 1rem;
}

.form-wrapper {
  padding: 15px;
}